name: CI

on:
  [push, pull_request]

jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - run: npm install
      working-directory: ../minerva/functions/
    - run: npm test
      working-directory: ../minerva/functions/
